
<li id="post-<%=post._id%>">

    <p>
        <%if(locals.user && locals.user.id==post.user.id){%>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">X</a>
            </small>
            <%}%>

                <h4><%= post.content %></h4>
                    <br>
                    <small>
                        <% if(post.user){%>
                                <%= post.user.name%>
                            <%}%>
                    </small>

                    <br>

                    <!--display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count-->
                    <small>
                        <% if(locals.user){%>

                            <a class="toggle-like-button" data-likes="<%=post.likes.length%>" href="/likes/toggle/?id=<%=post._id%>&type=Post">

                                <%=post.likes.length%> Likes

                            </a>

                        <%}else{%>
                            <%=post.likes.length%> Likes

                        <%}%>
                    </small>

    </p>
    <!--Show comment form-->
    <div class="posts-comment">
        
        <%if(locals.user){%>

            <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="type here to add comment...">
                <input type="hidden" name="post" value="<%=post._id%>">
                <input type="submit" value="Add comment">
            </form>

            <%}%>

    </div>

    <div class="post-comments-list">
        <ul id="post-comments-<%=post._id%>">

            <% for(comment of post.comments){%>

                <%- include('_comments') -%>

                    <%}%>

        </ul>
    </div>

    <br><br>

</li>